@import "~/assets/sass/global.sass"

@keyframes shakeleft
    34%
        transform: scale(-1.08, 1.08) rotate(65deg)
    67%
        transform: scale(-1.08, 1.08) rotate(-45deg)
@keyframes shakeright
    34%
        transform: scale(1.08, 1.08) rotate(65deg)
    67%
        transform: scale(1.08, 1.08) rotate(-45deg)

.scoreboard
    max-width: 22.5rem

.bettleshow
    p
        max-width: 22.5rem
    p:first-of-type span:last-of-type
        transform: scale(-1, 1)
    p:first-of-type span:last-of-type.clicked
        animation: shakeleft .35s ease-out
    p:last-of-type span:last-of-type.clicked
        animation: shakeright .35s ease-out

.yrchioceBtn
    background: var(--bg-color)
    border: .125rem solid var(--cyber-color1)
    box-shadow: inset 0 0 .5em 0 var(--cyber-color1), 0 0 .5em 0 var(--cyber-color2)
    transition: background .25s, box-shadow .25s
    &:hover
        background: var(--cyber-color1)
        box-shadow: inset 0 0 .5em 0 var(--cyber-color1), 0 0 .25em 0 var(--cyber-color1), 0 0 1.25em 0 var(--cyber-color2)
    // background-color: var(--primary-color)
    // box-shadow: 4px 4px 8px 0 rgb(0 0 0 / 25%), inset -4px -4px 8px 0 rgb(0 0 0 / 25%), inset 4px 4px 8px 0 rgb(255 255 255 / 40%)